#map {
    margin: 0 auto;
    height: 550px;
    border-radius: 25px;
}

.float-button {
    border-radius: 15px;
    background-color: #991c33;
    position: absolute;
    z-index: 10;
    width: 50px !important;
    height: 50px !important;
}

.float-img {
    margin: 10px;
}