{% extends 'layout.html' %}
{% load static %}
{% block links %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
{% endblock %}
{% block title %}UFOs{% endblock %}

{% block content %}
{{block.super}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <div style="width: 100%; height: 20em; margin-top: 3em;">
        <canvas id="myChartUfos" style="margin-bottom: 30px; width: 90%; height: 100%;"></canvas>
    </div>
    <div style="width: 100%; height: 20em; margin-top: 3em;">
        <canvas id="myChartMeteorites" style="margin-bottom: 30px; width: 90%; height: 100%;"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChartUfos').getContext('2d');
        console.log({{ufos_labels | safe}});
        console.log({{ufos_data | safe}});
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ufos_labels | safe}},
                datasets: [{
                    label: 'UFOs',
                    data: {{ufos_data | safe}}.map(function (x) { return x[1]; }),
                    backgroundColor: {{ufos_data | safe}}.map(function (x) { return 'rgba(255, 99, 132, 0.2)'; }),
                    borderColor: {{ufos_data | safe}}.map(function (x) { return 'rgba(255, 99, 132, 1)'; }),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

{% endblock %}