{% extends 'layout.html' %}
{% load static %}

{% block title %}UFOs{% endblock %}

{% block content %}
{{block.super}}

    <a class="float-button" href="/meteorites-mapa/">
        <img class="float-img" width="30px" src="../static/images/meteorite-index.png" alt="meteorites">
    </a>

    <div class="row" style="margin: 70px;">
        <div class="col">
            <div id="map"></div>
        </div>
        <div class="col" style="margin: 30px; padding: 70px; border-radius: 20px; background-color: rgba(108, 104, 111, 0.603);">
          <img src="../static/images/ufo-index.png" width="100px" style="opacity: 50%; margin-bottom: 30px;" alt="ufo">
          <h5 class="">UFO Sightings around the world</h5>
          <a href="https://github.com/planetsig/ufo-reports"><h6 class="mb-2 text-muted">planetsig</h6></a>
          <p class="">This dataset contains over 80,000 records of UFO sightings dating back as far as 1949. With the latitude and longitude data it is possible to assess the global distribution of UFO sightings. The dates and times, along with the duration of the UFO's stay and description of the craft also lend themselves to predictions.</p>
        </div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw1Fti-DJpKLBumD9Q4HPhk_rmOO3xyPw&callback=initMap" async defer></script>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: { lat: 37.0902, lng: -95.7129 },
            });
            setMarkers(map);
        }

        function setMarkers(map) {
            const image = {
                url: "https://img.icons8.com/officel/35/sci-fi.png",
                size: new google.maps.Size(35, 35),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 35),
            };

            const shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: "poly",
            };
            
            {% for ufo in ufos %}
                let marker{{ ufo.id }} = new google.maps.Marker({
                    position: { lat: {{ ufo.latitude }}, lng: {{ ufo.longitude }} },
                    map,
                    icon: image,
                    shape: shape,
                    title: "{{ ufo.city }}",
                    zIndex: 1,
                })
                
                marker{{ ufo.id }}.addListener("click", () => {
                    console.log("{{ ufo.city }}");
                    new google.maps.InfoWindow({
                        content: `
                            <div class="card" style="background-color: #14151d; color: white;" width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ ufo.city }}</h5>
                                    <p class="card-text">{{ ufo.length_of_encounter_seconds }}</p>
                                    <p class="card-text">{{ ufo.description }}</p>
                                </div>
                            </div>
                        `,
                    }).open(map, marker{{ ufo.id }});
                });
            {% endfor %}
        }
    </script>

{% endblock %}