{% extends 'layout.html' %}
{% load static %}

{% block title %}UFOs{% endblock %}

{% block content %}
{{block.super}}
    <style>
        #map {
            margin: 0 auto;
            height: 750px;
            width: 750px;
        }
    </style>

    <h1 id="accion">Mapa de UFO´s</h1>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw1Fti-DJpKLBumD9Q4HPhk_rmOO3xyPw&callback=initMap" async defer></script>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 2,
                center: { lat: 37.0902, lng: -95.7129 },
            });
            setMarkers(map);
        }

        function setMarkers(map) {
            const image = {
                url: "https://img.icons8.com/officel/35/sci-fi.png",
                size: new google.maps.Size(35, 35),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 35),
            };
            const shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: "poly",
            };

            var parametro = 0
            if({{menor}} != 0){
                document.getElementById("accion").innerHTML = "Ufos con menor duración de los segundos de encuentro"
                parametro = {{menor}}
            }else{
                document.getElementById("accion").innerHTML = "Ufos con mayor duración de los segundos de encuentro"
                parametro = {{mayor}}
            }
            
            {% for ufo in ufos %}
            if({{ ufo.length_of_encounter_seconds}} == parametro){
                new google.maps.Marker({
                        position: { lat: {{ ufo.latitude }}, lng: {{ ufo.longitude }} },
                        map,
                        icon: image,
                        shape: shape,
                        title: "{{ ufo.city }}",
                        zIndex: 1,
                    });
            }
                    
                
                
            {% endfor %}
        }
    </script>

{% endblock %}